streamlit
git+https://github.com/ChrisHayduk/streamlit-analytics.git
langchain
langchain-openai
langchain-community
langchain-unstructured
faiss-cpu
pyngrok
python-dotenv
unstructured
PyPDF2
python-docx
Pandas
